nav a { margin:15px; cursor:pointer; }

.hero {
  height:350px;
  background:url("hero.jpg") center/cover no-repeat;
  text-align:center;
  color:white;
  padding-top:130px;
}

.categories, .products {
  display:flex;
  justify-content:center;
  flex-wrap:wrap;
}

.categories div, .products div {
  background:white;
  margin:15px;
  padding:15px;
  text-align:center;
  box-shadow:0 0 10px #ccc;
}

img { width:220px; height:160px; }

.hidden { display:none; }

.contact-box {
  display:flex;
  gap:60px;
  justify-content:center;
}
.contact-box form {
  display: flex;
  flex-direction: column;
}

.contact-box img {
  width: 700px;
  max-width: 90%;
  height: auto;
}

.contact-box input, textarea {
  width:320px;
  padding:14px;
  font-size:16px;
  margin-bottom:15px;
}

.big-img {
  width:600px;
  display:block;
  margin:20px auto;
}
